@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
<style>
body {
  background-color: lightgreen;
}
</style>
</head>
<div class="text-center">
    <h1 class="display-4">Bem vindo </h1>
    <h3 class="display-6"><b><i>Controle de finanças pessoais</i></b></h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

