<html>
<head>
<style>
body {
  background-color: lightgreen;
}
</style>
</head>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
